
<!-- Inclue les metadata tel que le titre, le css, l'icone du site -->
<%- include('base/meta', {title: "Acceuil"}) -%>

<body>
    <!-- Inclue la partie header -->
    <%- include('base/header') -%>

    <h1>Incidents</h1>

    <table>
        <tr>
            <th>Emil</th>
            <td>Incident1</td>
            <td>date</td>
        </tr>
        <tr>
            <th>thomas</th>
            <td>Incident2</td>
            <td>date</td>
        </tr>
        <tr>
            <th>Adrien</th>
            <td>Incident3</td>
            <td>date</td>
        </tr>
    </table>
</body>
</html>