
<!-- Inclue les metadata tel que le titre, le css, l'icone du site -->
<%- include('base/meta', {title: "Signaler"}) -%>

<body>
    <!-- Inclue la partie header -->
    <%- include('base/header') -%>

    <h1>Signaler un incidents</h1>
    <form action="">
        <label for="incident">Déscription de l'incident:</label>
        <textarea class="form_incident"></textarea>
        <input type="submit">
    </form>
    

    
</body>
</html>