
<!-- Inclue les metadata tel que le titre, le css, l'icone du site -->
<%- include('base/meta', {title: "Connexion"}) -%>

<body>  
    <!-- Inclue la partie header -->
    <%- include('base/header') -%>

    <section class="content">

        <!-- Case pour la connexion à un compte existant -->
        <!-- Renvoie email : Email
                     password : mot de passe -->
        <form class="identification_form" action="/users/login" method="post">
            <p>Se connecter</p>

            <!-- Input de l'email" -->
            <div class="input_identification">
                <label for="email">Email :</label>
                <input required="" type="text" name="email" id="email">
            </div>

            <!-- Input du mot de passe  -->
            <div class="input_identification">
                <label for="password">Mot de passe :</label>
                <input required="" type="password" name="password" id="password">
            </div>
                
            <!-- Bouton submit  -->
            <div class="submit_container">
                <input type="submit" value="Se connecter">
            </div>

        </form>

        <!-- Case pour l'inscription à un nouveau compte -->
        <!-- Renvoie username : nom d'utilisateur
                     inscription_mdp : mot de passe
                     inscription_nom : nom complet
                     inscription_email: email -->
        <form class="identification_form" action="/users/register" method="post">
            <p>Créer un compte</p>

            <!-- Input du nom d'utilisateur -->
            <div class="input_identification">
                <label for="username">Nom d'utilisateur :</label>
                <input required="true" type="text" name="username" id="username">
            </div>

            <!-- Input du mot de passe  -->
            <div class="input_identification">
                <label for="password">Mot de passe :</label>
                <input required="true" type="password" name="password" id="password">
            </div>

            <!-- Input du nom complet -->
            <div class="input_identification">
                <label for="fullName">Nom complet :</label>
                <input required="true" type="text" name="fullName" id="fullName">
            </div>

            <!-- Input de l'adresse mail -->
            <div class="input_identification">
                <label for="email">E-mail :</label>
                <input required="true" type="email" name="email" id="email">
            </div>

            <!-- Input de l'adresse mail -->
            <div class="input_identification">
                <label for="phone">Tél :</label>
                <input required="true" type="phone" name="phone" id="phone">
            </div>

            <!-- Bouton submit  -->
            <div class="submit_container">
                    <input type="submit" value="Créer un compte">
            </div>
        </form>

    </section>

    <footer>
    </footer>

</body>

</html>