
<!-- Header de nos page avec le logo et la liste de nos pages -->
<header>
    <!-- Logo de notre site clickable qui envoie vers la page d'acceuil -->
    <a href="/">
        <img src="/static/images/Marque_Louv1cident.png" alt="Marque_Louv1cident">
    </a>

    <!-- Nav avec la liste des différente pages -->
    <nav>
        <ul class="style_ul">
            <li class="list"><a class="bouton" href="/">Acceuil</a></li>
            <li class="list"><a class="bouton" href="/incident">Signaler un incident</a></li>
            <!-- Si utilisateur déja connecté alors affiche le bouton déconnexion -->
            <% if (req.session.isAuth) { %>
                <li class="list" style="float: right;"><a class="bouton" href="/user/logout">Se déconnecter</a></li>
            <!-- Si utilisateur non connecté alors affiche le bouton connexion -->
            <% } else { %>
                <li class="list" style="float: right;"><a class="bouton" href="/user/login">Se Connecter</a></li>
            <% } %>
        </ul>
    </nav>
</header>