
<!-- Les métadatas de nos pages -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Titre de la page à définir lors de include('base/meta', {title: MON_TITRE}) -->
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/images/Icone_Louv1cident.png">
</head>

