<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/images/Icone_Louv1cident.png">
</head>

<body>
   
    <header>
        <img src="../static/images/Marque_Louv1cident.png" alt="Marque_Louv1cident">
        <ul class="nav">
            <li class="list"><a class="bouton" href="./acceuil.html">Accueil</a></li>
            <li class="list"><a class="bouton" href="./acceuil.html">Nous avertir</a></li>
            <li class="list" style="float: right;"><a class="bouton" href="./connexion.html">Se Connecter</a></li>
        </ul>
    </header>
    <h1>Incidents</h1>
    <p>
        <ul class="incidents_affichage">
            <li class="incidents_elem">Incident1</li>
            <li class="incidents_elem">Incident2</li>
            <li class="incidents_elem">Incident3</li>
        </ul>
    </p>

    <table>
        <tr>
            <th>Emil</th>
            <td>Incident1</th>
        </tr>
        <tr>
            <th>thomas</th>
            <td>Incident2</td>
        </tr>
        <tr>
            <th>Adrien</th>
            <td>Incident3</td>
        </tr>
    </table>
    <footer>
    </footer>

</body>

</html>