<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/images/Icone_Louv1cident.png">
</head>

<body>
    
    <header>
        <img src="../static/images/Marque_Louv1cident.png" alt="Marque_Louv1cident">
        <ul class="nav">
            <li class="list"><a class="bouton" href="./acceuil.html">Accueil</a></li>
            <li class="list"><a class="bouton" href="./signalisation.html">Signaler un incident</a></li>
            <li class="list" style="float: right;"><a class="bouton" href="./connexion.html">Se Connecter</a></li>
        </ul>
    </header>

    <section class="content">

        <!-- Case pour la connexion à un compte existant -->
        <form class="identification_form" action="">
            <p>Se connecter</p>

            <!-- Input du nom d'utilisateur -->
            <div class="input_identification">
                <label for="connexion_nom_utilisateur">Nom d'utilisateur :</label>
                <input required="" type="text" name="connexion_nom_utilisateur" id="connexion_nom_utilisateur">
            </div>

            <!-- Input du mot de passe  -->
            <div class="input_identification">
                <label for="connexion_mdp">Mot de passe :</label>
                <input required="" type="password" name="connexion_mdp" id="connexion_mdp">
            </div>
                
            <!-- Bouton submit  -->
            <div class="submit_container">
                <input type="submit" value="Se connecter">
            </div>

            <a href="">Mot de passe oublié ?</a>

        </form>

        <!-- Case pour l'inscription à un nouveau compte -->
        <form class="identification_form" action="">
            <p>Créer un compte</p>

            <!-- Input du nom d'utilisateur -->
            <div class="input_identification">
                <label for="inscription_nom_utilisateur">Nom d'utilisateur :</label>
                <input required="" type="text" name="inscription_nom_utilisateur" id="inscription_nom_utilisateur">
            </div>

            <!-- Input du mot de passe  -->
            <div class="input_identification">
                <label for="inscription_mdp">Mot de passe :</label>
                <input required="" type="password" name="inscription_mdp" id="inscription_mdp">
            </div>

            <!-- Input du nom complet -->
            <div class="input_identification">
                <label for="">Nom complet :</label>
                <input required="" type="text" name="inscription_nom" id="inscription_nom">
            </div>

            <!-- Input de l'adresse mail -->
            <div class="input_identification">
                <label for="">E-mail :</label>
                <input required="" type="email" name="inscription_email" id="inscription_email">
            </div>

            <!-- Bouton submit  -->
            <div class="submit_container">
                    <input type="submit" value="Créer un compte">
            </div>
        </form>

    </section>

    <footer>
    </footer>

</body>

</html>