<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/images/Icone_Louv1cident.png">
</head>

<body>
   
    <header>
        <img src="../static/images/Marque_Louv1cident.png" alt="Marque_Louv1cident">
        <nav>
            <ul class="style_ul">
                <li class="list"><a class="bouton" href="./acceuil.html">Accueil</a></li>
                <li class="list"><a class="bouton" href="./signalisation.html">Signaler un incident</a></li>
                <li class="list" style="float: right;"><a class="bouton" href="./connexion.html">Se Connecter</a></li>
            </ul>
        </nav>
    </header>
    <h1>Signaler un incidents</h1>
    <form action="">
        <label for="incident">Déscription de l'incident:</label>
        <textarea class="form_incident"></textarea>
        <input type="submit">
    </form>
    

    
</body>
</html>